.press__list-wrap {
	display: none;
	margin-top: 20px;
	&.active {
		display: block;
	}
}

.press__list__nav {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	height: 32px;
	display: flex;
	border: var(--main-border);
	background-color: var(--gray-bacground);
	&::-webkit-scrollbar {
		display: none;
	}
}

.press__list__nav__item {
	display: flex;
	align-items: center;
	position: relative;
	box-sizing: border-box;
	padding: 0px 10px;
	height: 100%;
	cursor: pointer;
	font-size: 12px;
	white-space: nowrap;
	font-weight: var(--main-weight);
	color: var(--main-font-color);
	transition: padding 0.5s ease-in-out;
	span {
		z-index: 1;
	}

	.press__list__nav__item__info {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.press__list__nav__item__new-count {
		position: absolute;
		font-size: 10px;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}
	.curr {
		right: 30px;
	}
	.total {
		right: 10px;
		color: #b4b4b4b0;
		font-weight: var(--main-weight);
	}

	&[aria-selected="true"] {
		padding-right: 70px;
		background-color: rgba(196, 211, 255, 0.8);
		color: #fff;
		position: relative;
		.press__list__nav__item__new-count {
			position: absolute;
			opacity: 1;
		}
	}
	&[aria-selected="true"] > .active {
		animation: fill 6s linear infinite;
	}
}

.press__list__nav__item--animation {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 0;
	background: var(--blue);
}

@keyframes fill {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

.press__list__news {
	height: calc((4 * 4.8rem) - 29px);
	border: var(--main-border);
	border-top: 0px;
	display: flex;
	justify-content: center;
}

.press__list__news-top {
	display: flex;
	align-items: center;
	margin: 15px 20px;
	font-size: 10px;
	& > :not(a) {
		margin-left: 15px;
	}
	& img {
		margin-top: 2px;
		height: 20px;
		width: auto;
	}
	& span {
		color: #414141c1;
		font-weight: var(--main-weight);
	}
	& button {
		border-radius: 25px;
		border: var(--main-border);
		background-color: var(--gray-bacground);
		color: var(--main-font-color);
		font-weight: var(--main-weight);
		height: 24px;
		display: flex;
		cursor: pointer;
	}
}

.press__list__news-wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.press__list__news-description {
	display: flex;
	justify-content: space-evenly;
	margin: 0px 20px 20px 20px;
	font-size: 12px;
}

.press__list__news-description__left {
	display: flex;
	flex-direction: column;
	& img {
		width: 270px;
		height: 160px;
		transition: transform 0.3s ease-in-out;
	}
	& a:first-child {
		overflow: hidden;
	}
	& a:last-child {
		font-size: 13px;
		margin-top: 15px;
		font-weight: 600;
		max-width: 300px;
	}
	&:hover {
		& img {
			transform: scale(1.1);
		}
		& a:last-child {
			text-decoration: underline;
		}
	}
}

.press__list__news-description__right {
	width: 50%;
	& li {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-top: 17px;
		font-weight: var(--main-weight);
		color: #373737;
	}
	& li:first-child {
		margin-top: 8px;
	}
}
