.press {
	padding: 10px 20px;
	position: relative;
}
.press__nav {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}

.press__nav__press-column,
.press__nav__icons-column {
	display: flex;
	font-size: 14px;
}

.press__nav__press-column > div:last-child,
.press__nav__icons-column > div:last-child {
	margin-left: 15px;
}

.press__nav__icons-column i {
	cursor: pointer;
	font-size: 16px;
	color: var(--main-font-color);
}

.press__nav__icons-column i.active {
	cursor: pointer;
	color: var(--blue);
}

.press__nav__press-column > div {
	font-weight: var(--main-weight);
	color: var(--main-font-color);
	cursor: pointer;
	&.active {
		font-weight: 700;
		color: var(--color);
	}
}

.press__nav__grid-icons {
	margin-left: 30px;
}
