.press__list-wrap {
	display: none;
	&.active {
		display: block;
	}
}

.press__list-wrap {
	margin-top: 20px;
	border: var(--main-border);
	background-color: var(--gray-bacground);
}

.press__list__nav {
	height: 32px;
	display: flex;
}

.press__list__nav__item {
	display: flex;
	align-items: center;
	position: relative;
	box-sizing: border-box;
	padding: 0px 10px;
	height: 100%;
	cursor: pointer;
	font-size: 12px;
	white-space: nowrap;
	font-weight: var(--main-weight);
	color: var(--main-font-color);
	transition: padding 0.5s ease-in-out;
	span {
		z-index: 1;
	}
	&:hover {
		padding-right: 70px;
		background-color: rgba(196, 211, 255, 0.8);
		color: #fff;
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		z-index: 0;
		background: var(--blue);
	}
	&:hover::after {
		animation: fill 6s linear;
	}
}

@keyframes fill {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
