.latest-news {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.latest-news div {
	border: 2px solid rgba(177, 177, 177, 0.3);
	width: 49%;
	height: 35px;
	background-color: rgba(177, 177, 177, 0.1);
}

.latest-news__column {
	font-size: 12px;
	display: flex;
	align-items: center;
}

.latest-news__column > p {
	margin-left: 10px;
}

.latest-news__column > p:first-child {
	font-weight: 700;
}
