.latest-news {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.latest-news__column {
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: var(--main-border);
	width: 49%;
	height: 35px;
	background-color: rgba(var(--gray-rgb), 0.1);
}

.latest-news__column > span {
	margin: 10px;
	white-space: nowrap;
}

.latest-news__column > span:first-child {
	font-weight: 700;
}

.latest-news__rolling {
	position: relative;
	margin-right: 5px;
	display: flex;
	align-items: center;
	height: 55%;
	width: 80%;
	overflow: hidden;
	white-space: nowrap;
}

.latest-news__rolling--befor-hover {
	position: absolute;
	animation: rolling 4s cubic-bezier(0.220, 0.700, 1.000, 1.010) infinite;
}

.latest-news__rolling--stop:hover {
	text-decoration: underline;
}

.latest-news__rolling--after-hover {
	animation: goup 4s cubic-bezier(0.220, 0.700, 1.000, 1.010) forwards;
}

@keyframes rolling {
	0% {
		transform: translateY(250%);
	}
	10%,
	20%,
	30%,
	40%,
	50%,
	60%,
	70%,
	80%,
	90% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-250%);
	}
}

@keyframes goup {
	50%,
	60%,
	70%,
	80%,
	90% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-250%);
	}
}
