.news-header {
	padding: 20px 20px 15px; /*나중에 변수로 빼장*/
	display: flex;
	justify-content: space-between;
}

.news-header > a {
	font-size: 18px;
	font-weight: bolder;
}

.news-header > a > i {
	color: #4361cf;
	margin-right: 10px;
}

.news-header > p {
	font-size: 12px;
	margin-top: 7px;
	font-weight: 600;
	color: #5f6d75;
}
