@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import "reset.css";
@import "variables.css";

/* View */
@import "view/news-header.css";
@import "view/latest-news.css";
@import "view/press.css";
@import "view/press-grid.css";
@import "view/press-list.css";

/* components */
@import "./components/swiper.css";
@import "./components/modal.css";

body {
	background-color: var(--bacground-color);
	color: var(--color);
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Noto Sans KR";
}

button {
	background-color: white;
	font-family: inherit;
	font-size: 12px;
}

.news-wrap {
	height: 70%;
	width: 60%;
	min-height: 500px;
	min-width: 700px;
}

body[data-theme="dark"] {
	--gray: #fff;
	--main-border: 2px solid rgba(var(--gray-rgb), 0.4);
	--gray-rgb: 255, 255, 255;
	--deep-gray-rgb: 255, 255, 255;
	--gray-bacground: rgba(var(--gray-rgb), 0.1);
	--main-font-color: rgba(var(--deep-gray-rgb), 0.7);
	--bacground-color: #14212a;
	--color: #fff;

	& .dark-mode > i {
		color: yellow;
	}
	& button {
		background-color: var(--gray-bacground);
		font-family: inherit;
		font-size: 12px;
	}
	& span,
	a {
		color: #cbcbcb;
	}
}
