@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import "reset.css";
@import "variables.css";

/* View */
@import "view/news-header.css";
@import "view/latest-news.css";
@import "view/press.css";
@import "view/press-grid.css";
@import "view/press-list.css";
@import "view/swiper.css";

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Noto Sans KR";
}

button {
	background-color: white;
	font-family: inherit;
	font-size: 12px;
}

.news-wrap {
	height: 70%;
	width: 60%;
	min-height: 500px;
	min-width: 700px;
}
