:root {
	--gray: #5f6d75;
	--blue: #4361cf;
	--main-border: 2px solid rgba(var(--gray-rgb), 0.3);
	--gray-rgb: 177, 177, 177;
	--deep-gray-rgb: 148, 148, 148;
	--gray-bacground: rgba(var(--gray-rgb), 0.1);
	--main-weight: 500;
	--main-font-color: rgba(var(--deep-gray-rgb), 0.8);
	--bacground-color: #fff;
	--color: #14212a;
}
